.eclipse-carousel {
  background-color: blueviolet;
  margin: 0 auto;
  position: relative;
}
.eclipse-carousel__container {
  list-style: none;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

.eclipse-carousel__container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.eclipse-carousel__picture {
  scroll-snap-align: center;
}

.eclipse-carousel__arrow {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(230, 21, 119);
  border-radius: 50%;
  padding: 0.5rem;
  z-index: 2;
  border: 1px solid white;
  position: absolute;
}
.eclipse-carousel__arrow:hover {
  cursor: pointer;
}

.eclipse-carousel__svg,
.eclipse-carousel__path {
  pointer-events: none;
}
