.eclipse-carousel {
  background-color: blueviolet;
  margin: 0 auto;
}
.eclipse-carousel__container {
  list-style: none;
  display: flex;
  flex-direction: row;
  overflow: scroll;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

.eclipse-carousel__container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
